extends layout

block content
  script.
    var query = searchQuery(!{JSON.stringify(dave)})
  .header
    .logo
      h1 Bede People
    .search
      input(type='text', placeholder='Search')
    .user
      | User
  .sidebar
    .nav
      .filters
        .filter-category
          h2 Skills
          ul
            li.skill.css CSS
            li.skill.js JS
            li.skill.html HTML
        .filter-category
          h2 Role
          ul
            li Front End
            li Back End
            li Project Manager
        .filter-category
          h2 Project
          ul
            li High 5 Casino
            li Grosvenor Casino
            li Bingo Stars
  .content
    each item in dave
      .person
        .image
          .image-crop
            img(src=item.EmployeeImage)
        .information
          .name 
            span= item.FirstName.DisplayValue
            span= item.LastName.DisplayValue
          .job= item.JobRole.DisplayValue
          .slack
            a(href='') slack
          .git
            a(href='') git
          ul.skills
            li.css CSS
            li.js JS
            li.html HTML